.senderImage
{
    margin-left: 550px;
    height: 400px;
    width: 400px;
}

.mailStatement
{
    text-align: center;
    font-size: 22px;
}

/* Tanwar customButton code only changes done using this code*/
.guide-button{
    width: 300px;
    padding: 20px 10px;
    margin: 50px 40px 50px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
