.container
{
    position: relative;
}

.imageStyle
{
    height: 600px;
    width: 100%;
    border-radius: 50px;
    
}

.text-block {
    position: absolute;
    bottom: 50px;
    right: 40px;
    background-color: #CC2421;
    color: white;
    height: 300px;
    width: 355px;
    border-radius: 30px;
    background-color: rgba(238, 23, 23, 0.15);  
    backdrop-filter: blur(5px);
  }

  .becomeVolunteer
  {
      text-align: center;
      font-size: xx-large;
      margin-top: 10px;
  }

  p.paragraph{
      font-size: 20px;
      margin-top: 30px;
      text-align: center;
  }

  .btnForJoin
  {
      text-align: center;
      padding: 8px 20px;
      width : 60%;
      border-radius: 4px;
      outline: none;
      border: none;
      margin-top: 20px;
      margin-left: 70px;
      color: white;
      background: #FE1F1A;
      font-size: 15px;
      cursor: pointer;
  }

  .btnForJoin:hover{
      background: #CC2421;
      transition: all 0.3 ease-out;
      transition: 250ms;
  }

  @media screen and (max-width : 960px)
  {
    .imageStyle
    {
        height: 450px;
        width: 100%;
        border-radius: 50px;
    }

    .text-block {
        height: 280px;
        width: 280px;
      }

      .becomeVolunteer
      {
          text-align: center;
          font-size: 25px;
          margin-top: 10px;
      }
    
      p.paragraph{
          font-size: 18px;
          margin-top: 30px;
          text-align: center;
      }
    
      .btnForJoin
      {
          text-align: center;
          padding: 8px 20px;
          width : 60%;
          border-radius: 4px;
          outline: none;
          border: none;
          margin-top: 20px;
          margin-left: 70px;
          color: white;
          background: #FE1F1A;
          font-size: 15px;
      }
  }
